<!-- SLIDER -->
<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item teal lighten-5 white-text" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item brown lighten-4 white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item red lighten-3 white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item yellow lighten-2 white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
</div>

<br/>

<!-- HOW WE WORK -->
<div id="intro" class="section scrollspy">
    <div class="row">
      <div  class="col s12" style="margin-bottom: 20px;">
        <h5 class="center header text_h5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="span_h5"> Phasellus  </span>vestibulum lorem risus, nec suscipit lorem <span class="span_h5"> laoreet quis.</span> </h5>
      </div>

      <div  class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="material-icons medium">redeem</i>
          <h5 class="promo-caption">Rent 3 Pieces At A Time</h5>
          <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="material-icons medium">insert_emoticon</i>
          <h5 class="promo-caption">Swap Whenever You Want</h5>
          <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
        <i class="material-icons medium">local_laundry_service</i>
        <h5 class="promo-caption">Free Shipping & Dry Cleaning</h5>
        <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        </div>
      </div>
    </div>
</div>

<!-- ABOUT US -->
<div class="section grey lighten-4">
  <div class="aboutus row">
    <div class="col s12 m4 offset-m1"><p>
      <div class="materialboxed" width="100px">
        <%= image_tag('cats_cute.jpg', :size => "300x300") %>
      </div>
    </div>
    <div class="col s12 m7">
      <div class="des">
      <h4 class="title center">About Us</h4>
      <p class="caption center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
      </div>
    </div>
  </div>
</div>
