<div class="container">
  <div class="row">
    <div class="col s12">
      <h4> Scan the QR Code in your product to register your warranty now!<h4>
      <%= image_tag 'qrcode.jpeg', class: 'responsive-img' %>
    </div>
  </div>
</div>
