<div class="container">
  <form action="/warranty/register" method="POST">
    <div class="row">
      <div class="input-field col s12 m10 offset-m1">
        <h4 class="header">Warranty Registration</h4>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m10 offset-m1">
        <input disabled value="Product" id="disabled" type="text" class="validate">
        <label for="disabled">Product Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m10 offset-m1">
        <input disabled value="Model Number" id="disabled" type="text" class="validate">
        <label for="disabled">Model Number</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m10 offset-m1">
        <input disabled value="Serial Number" id="disabled" type="text" class="validate">
        <label for="disabled">Serial Number</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m10 offset-m1">
        <i class="fa fa-calendar prefix" aria-hidden="true"></i>
        <input type="text" class="datepicker">
        <label for="disabled">Date of Purchase</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m10 offset-m1">
        <button class="btn waves-effect waves-light green" type="submit" name="action">Register Warranty
          <i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>
</div>
