<%= render "admin_nav" %>
<div class="container">
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <h4>Open Tickets</h4>
      <table>
        <thead>
          <tr>
            <th>Customer</th>
            <th>Last Response</th>
            <th>Ticket Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Dyson V8 Absolute+</td>
            <td>Sorry to hear about it…</td>
            <td>Open</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
