<footer  class="footer white">
  <div class="container">
    © 2017 PreciousTots. All Rights Reserved. Created by team :  <a href="https://github.com/heyzernut">Hazel</a>  -  <a href="https://github.com/Siya-ng">Si Ya</a>  -  <a href="https://github.com/mingyikoh">Ming Yi</a>
  </div>
</footer>
