<footer  class="footer">
  <div class="container">
    © 2017 baby:vanity Private Limited. All Rights Reserved.
  <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
  </div>
</footer>
