<div id="notification">
  <div class="close">close me</div>
  <p>
    <%= message.body %><br>
    from <%= message.user.name %>

    <!-- from <%#= message.user.space ? message.user.space.company_name : message.user.username %> -->
  </p>
  <p><%= link_to 'Take me there now!', conversation_path(message.conversation) %></p>
</div>
