<div class="parallax-container">
  <div class="section">
    <div class="container">
      <br><br>
      <h1 class="header center primary-text-color">Warranty Registration</h1>
      <div class="row center">
        <h5 class="header col s12 primary-text-color">Register your product and enjoy the benefits of an account</h5>
      </div>
      <div class="row center">
        <%= link_to "Start Now", warranty_path, class: 'btn-large waves-effect waves-light blue darken-4'%>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><%= image_tag "/assets/dyson_black_1.jpg" %></div>
</div>


<div class="container">
  <div class="section">
    <!--- Why Register --->
    <div class="row center">
      <h5 class="header col s12 light">Why register your product?</h5>
    </div>
    <!---Icon 1--->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <!-- <h2 class="center brown-text"><i class="fa fa-bolt" aria-hidden="true"></i></h2>
          <h5 class="center">Quick Warranty Registration</h5>
          <p class="center light">Scan the QR code, fill in your details, done.</p> -->
          <h2 class="center brown-text"><i class="fa fa-percent" aria-hidden="true"></i></h2>
          <h5 class="center">News and Special Offers</h5>
          <p class="center light">Latest promotions, news and events.</p>
        </div>
      </div>
      <!---Icon 2--->
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="fa fa-comments-o" aria-hidden="true"></i></h2>
          <h5 class="center">Support</h5>
          <p class="center light">Direct access to product service and support.</p>
        </div>
      </div>
      <!--- Icon 3--->
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="fa fa-history" aria-hidden="true"></i></h2>
          <h5 class="center">Registration History</h5>
          <p class="center light">Track your product registration.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax"><%= image_tag "/assets/dyson_black_2.jpg" %></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="center light"><i class="fa fa-map-marker" aria-hidden="true"></i> 8 Claymore Hill, Singapore 229572<br><i class="fa fa-phone" aria-hidden="true"></i> 3158 9593<br><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:thoushallnotreply@gmail.com">support@warranted.com</a></p>
      </div>
    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="parallax"><%= image_tag "/assets/dyson_black_3.jpg" %></div>
</div>
