
<br>
  <div id="chatForm">
    <label class="label" for="message_your_message">Your message:</label>
    <textarea class="text-area" data-textarea="message" name="message[content]" id="message_content">
    </textarea>
  </div>
