<h2>Create event</h2>

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="event_name" type="text" class="validate">
          <label for="event_name">Name of Event</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="location" type="text" class="validate">
          <label for="location">Location</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="location">Date</label>
          <input type="text" class="datepicker">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="location">Time</label>
          <input type="text" class="timepicker">
        </div>
      </div>


    </form>
  </div>
  <a class="waves-effect waves-light btn"><i class="material-icons left">mode_edit</i>Create Event</a>
