<div class="content-lg container">
  <br>
  <div class="row margin-b-20">
    <div class="col-sm-6">

    </div>
  </div>
  <!--// end row -->

  <div class="row">
    <div class="col-sm-7 sm-margin-b-50">
      <div class="margin-b-30">
        <h2>About Us</h2>
        <p>Struggling as a programming student?<br> <p>You are not alone - Codech with me can help you in your journey of mastering different programming languages.</p>
        <p>We have a pool of experienced tutors who love programming and have a passion to coach. You are now one step closer to being the programmer you have always dreamt to be!</p>
        <p>Register (if you have not yet done so), select a tutor according to your programming language and book a lesson. </p>

          <p><i>Leadership and learning are indispensable to each other.</i><br><span>John F. Kennedy</span></p>


      </div>
    </div>

    <div class="col-sm-4 col-sm-offset-1">
      <%= image_tag "shumin.jpg" ,class:"zoomIn img-responsive"%>
    </div>

  <!--// end row -->
  </div>
<!-- End About -->


</div>
