<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://picsum.photos/1000/400/?image=892">
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan</h5>
      </div>
    </li>
    <li>
      <img src="https://picsum.photos/1000/400/?image=893">
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan</h5>
      </div>
    </li>
    <li>
      <img src="https://picsum.photos/1000/400/?image=894">
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan</h5>
      </div>
    </li>
    <li>
      <img src="https://picsum.photos/1000/400/?image=896">
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan</h5>
      </div>
    </li>
  </ul>
</div>
