<div class="container">

<div class="result">
  <h5>Showing results for <%= @query %></h5>
</div>

<div class="row">
  <div class="col s3">
    <ul class="tabs filter">
      <% @categories.each do |cat| %>
        <li class="tab col s12">
          <%#= link_to cat[:name], "#", id: "#{@query}-#{cat[:id]}" %>
          <%= link_to cat.category_type, "#", id: "#{@query}-#{cat.id}" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col s9">
    <div class="row">
      <%#= render @spaces %>
      <%= render :partial => "spaces/spacepage", :locals => { :spaces => @spaces } %>
    </div>
  </div>
</div>

</div>
