<h1> Listing All Deals by Restaurant  </h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @deals.each do |deal| %>
    <tr>
      <td><%= deal.name %></td>
      <td><%= deal.description %></td>
      <td><%= link_to 'See Deal Details', restaurant_deal_path(@restaurant, deal.id)%></td>
    </tr>
  <% end %>
</table>
