<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="section flow-text">
        <h5>About this App</h5>
        <p style="font-size: 20px">Stranger Deals is an app designed for individuals and friends, for finding and locating your favorite restaurant deals nearby while grouping into perfect group sizes with friends or completely anonymous strangers for an extraordinary dining experience.</p>
      </div>
      <div class="section flow-text">
        <h5>Objectives</h5>
        <ul>
          <li style="font-size: 20px"> &bull; To develop a platform for helping users capitalize on group dining offers
          </li>
          <li style="font-size: 20px"> &bull; Simple user interface for finding restaurants and manipulating groups</li>
          <li style="font-size: 20px"> &bull; Enable users to simply create groups at their desired date and time</li>
          <li style="font-size: 20px"> &bull; Google maps feature for locating restaurants easily</li>
          <li style="font-size: 20px"> &bull; Chat interface for assisting users to make arrangements</li>
        </ul>
      </div>
  </div>
</div>
