
<div class="parallax-container">
    <div class="parallax image">
    <%= image_tag "test1.jpg" %></div>
    <div class="wordsPic">
      <%= image_tag "logo.png" %> <span class= 'word'>reeyate</span>
    </div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">About Us</h2>
      <p class="grey-text text-darken-3 lighten-3">YAY! Events budget planning has never been so fun!</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><%= image_tag "test2.jpg" %></div>
  </div>
