<h1>Filter Form</h1>
<p>
  Wonderful! Now, what style of dressing would <%= current_user.child[0].name %> like to try next month?
</p>

<%= select_tag "style", options_from_collection_for_select(@styles, "id", "name"), onchange: "window.location.replace('/choose_size_style/#{@child.size_id}/' + this.value + '/browse')" %>
