<div class="container">
  <h3>Adding items to event.name</h3>
  <div class="queryside">
    <%= form_tag items_path, :id => 'searchItem' do %>
    <%= label_tag(:search_text, "Search supermarket database:") %>
    <%= text_field_tag(:search_text) %>
    <%= submit_tag("Search") %>
    <% end %>

  </div>
</div>
