// navbar
.brand-logo-cus {
  color: #000;
  display: inline-block;
  font-size: 1.8rem;
  padding: 0;
  font-family: 'Pacifico', cursive;
}

.search-input {
  background-color: rgb(0, 150, 136);
  height: 45px;
  margin-top: 10px;
}

.menu-list a {
  padding: 0 5px;
  // color: black;
}

.notice, .alert {
  position: absolute;
  z-index: 10000;
  margin: 30px 0 0 30px;
  background-color: black;
  color: white;
  padding: 15px;
}

// .search-input i {
//   margin: -10px 0 0 12px;
// }

// home page
.feature {
  text-align: center;
  margin: 40px 0px;
}

// to size logo images at home page
.pages-show {
  height: 400px;
}

// .pages-show img {
//   width: 300px;
// }

.about h5, .about p {
  text-align: center;
}

.about-pic p {
  text-align: center;
}

.large {
  font-size: 10rem !important;
}

// profile page
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid black;
  margin: 20px 0px;
  padding: 20px 0px;
  box-shadow: 2px 2px 3px $blue;
  background-color: white;
}

.profile a {
  margin-top: 10px;
}

ul.tabs {
  flex-direction: column;
  height: 100%;
  float: left;
  text-align: left;
  width: 100%;
}

ul a {
  text-align: left;
}

ul.tabs .indicator {
  display: none;
}

.page {
  display: flex;
  justify-content: center;
}

// spaces profile page
.border {
  // border: 1px solid $green;
  box-shadow: 2px 2px 3px $blue;
  margin: 10px;
  padding: 15px;
  background-color: white;
}

.space-show img {
  width: 200px;
  height: auto;
}

.product {
  float: right;
}

.bookmarks {
  text-align: center;
}

.img-size {
  width: 400px;
}

.admin-list {
  max-height: 500px;
  overflow: scroll;
}

// results page
.result {
  margin: 25px 0px;
}

.pagination * {
  margin: 5px;
}

#conversation-body {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 2em;
}

#notification {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #fff;
  .close {
    cursor: pointer
  }
}

.online_status {
  color: red;
  transition: color 1s ease;
  &.online {
    color: green;
  }
}

nav, footer {
  background-color: white !important;
  & a {
    color: black;
  }
}

.btn {
  background-color: $blue !important;

}

.slider {
  height: 87vh !important;
}

.slides {
  height: 80vh !important;
}

#space {
  background-color: white;
  border: 1px solid #e0e0e0;
}

// underline for form
.input-field input:focus, .materialize-textarea:focus, input[type=text]:focus {
  border-bottom: 1px solid $blue !important;
  box-shadow: 0 1px 0 0 #9e9e9e !important;
}

.dropdown-content {
  & a, span {
  color: $blue !important;
  }
}

.prefix {
  top: -9px;
  left: 7px;
}

.input-field input[type=search]:focus + label {
  color: #000;
}

.input-field input[type=search] + label {
  background-color: white;
  left: 17px;
  top: 12px;
}

.input-field input[type=search] {
  padding-left: 1.5rem !important;
}

.search-input {
  background-color: white;
}

.input-field .prefix.active {
  color: $blue;
}

.dropdown-content li:hover {
  background-color: $grey;
}

.button-inline {
  display: inline-block;
}

body {
  background-color: $grey;
}

.page-footer .footer-copyright {
  background-color: transparent !important;
  color: black !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.page-footer {
  padding-top: 0 !important;
}

.footer-copyright {
  min-height: 60px !important;
  padding: 30px 0 40px !important;
  & h6 {
    padding-left: 50px;
  }
}

main {
  // min-height: 80vh;
}

.close-box {
  color: grey;
  border: none;
  background-color: none;
  padding: 3px;
  &:hover {
    color: black;
    background-color: grey;

  }
}

.product-padding {
  padding-left: 20px;
}
// .card .card-image img {
//     padding-top: 20px !important;
//   min-height: 20%;
// }
//
// .space-card {
//   min-height: 300px
// }
