$primary-bg: #ffffff;
$color2: #D6BA73;
$font-color: #000000;

nav {
  background-color: $primary-bg;
  box-shadow: none;
}

nav ul a{
  color: $font-color;
}

img {
  width: 100%;
}

blockquote {
  border-left: 5px dashed $font-color;
}

button {
  background-color: white;
  border: none;
  padding: 8px 65px;
  color: black;
  border-bottom: 1px solid green;
  margin-right: 5%;
}

.container {
  width: 90%;
}

#logo-container {
  color: $font-color;
}

.navbar-fixed {
  height: 40px;
}

.carousel {
  height: 640px;
}

.slider {
  height: 680px !important;
}

ul.slides {
  height: 640px !important;
}

.row {
  margin-bottom: 0px;
}

.row.about {
  position: absolute;
  margin-top: -33.5%;
  padding: 0px 10px;
}

.row.filernote {
  padding: 5% 21%;
}

.divider.home {
  margin: 30px 0px;
}

.greettxt {

}

.movebtn {
  margin-left: 10px;
}

.card-panel.filter {
  width: 720px;
  border-radius: 0px;
  border: solid 4px black;
  padding: 65px;
}

.hello {
  background-color: black;
  border: none;
  padding: 8px 65px;
  color: white;
  margin-right: 5%;
}

.leftside {
  border-left:1px solid black;
  padding-right: 10%;
}

.grey.lighten-2 {
  margin-top: 50px;
  background-color: beige !important;
}

.cart-img {
  height: 350px;
}

.footer {
  padding: 10px 0px;
}

.des {
  padding: 20px;
}


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
  .row.filernote {
    margin-top: 20px;
    padding: 0px 10px;
  }
  .card-panel.filter {
    width: 100%;
  }

  .row.filernote {
    padding: 0px;
  }

  .divider.home {
    margin-top: 50%;
  }

  .leftside {
    border-left:none;
  }

  .card-panel.filter {
    border-radius: 0px;
    border: solid 4px black;
    padding: 25px;
  }

  .filter {
    padding: 10px 20px;
  }

  .greettxt {
    font-size: 25px;
  }
}

.btn-floating.btn-large {
  width: 90px;
  height: 90px
}
.btn-floating.btn-large i {
  line-height: 90px;
  font-size: 4rem;
}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
}

#cart_item_count {
  pointer-events: none;
  cursor: default;
}
