$primary-bg: #ffffff;
$color2: #D6BA73;
$font-color: #000000;

nav {
  background-color: $primary-bg;
  box-shadow: none;
}

nav ul a{
  color: $font-color;
}

.container {
  width: 90%;
}

#logo-container {
  color: $font-color;
}

.navbar-fixed {
  height: 40px;
}

.carousel {
  height: 640px;
}

.slider {
  height: 680px !important;
}

ul.slides {
  height: 640px !important;
}

.row.about {
  position: absolute;
  margin-top: -33.5%;
  padding: 0px 10px;
}

.footer {
  padding: 10px 0px;
}

.des {
  padding: 20px;
}
