@import "materialize/components/color";

.nav-wrapper {
  background-color: rgb(87,103,255) !important;
}

.card {
  padding-top: 40px;
}
.waves-effect {
  margin-bottom: 50px;
}

.showevent {
  width: 90%;
  margin: 0 auto;
}
.eventleft, .eventright{
  width: 45%;
  display: inline-block;
}
<<<<<<< HEAD
=======
.eventleft {
  vertical-align: middle;
}
.queryside, .addingside {
  width: 45%;
  display: inline-block;
}
.queryside {
  vertical-align: top;
}
>>>>>>> upstream/master
.addingside{
  margin-left: 30px
}
.dropdown-button {
  width: 150px;
}

.queryside{
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 15%;
}

.searchtitle{
  padding-top: 10%;
  display: block;
  margin: 0 auto;
  padding-bottom: 10%;
}

.container{
  width: 500px;
  text-align: center;
  position: relative;
}

.page-footer {
  background-color: rgb(87,103,255) !important;
}

.footer-copyright {
  background-color: rgb(59,70,173) !important;
}


@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
