body {
  background-color: red;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container{
  height: 90%;
  margin: 0;
  padding: 0;
}
.mapWide {
  height: 100%;
  width: 100%;
  transition: 0.5s;
}
.mapNarrowed {
  width: 69%;
  height: 100%;
  display: inline-block;
  transition: 0.2s;
}
.hidden {
  display: none;
}
.visible {
  display: inline-block;
}
#sidemenu {
  height: 100%;
  width: 30%;
  vertical-align: top;
  position: relative;
}
#collapseSide {
  position: absolute;
  top: 47.5%;
  left: 0;
  width: 5%;
  height: 5%;
}
