<h1>Profile</h1>

<h4>User Information</h4>
  <ul>
  <li>Username: [show current user name]</li>
  <li>Email: [Show current user email]</li>
  <li>Address: [Show current user address]</li>
  <li>Phone No: [Show current user phone]</li>
  <li>Points: [Show current user points]</li>
  <li>Subscription: [Show current user subsc.]
  </ul>

<%= link_to '<button type="button">Edit profile</button>'.html_safe, '/profile/edit' %>

<h4>Children Information</h4>

<p>
  Name: [user name] <br>
  Gender: [Show user child gender] <br>
  Birthday:[Show user child birthday] <br>
  Clothes size: [Show user child size] <br>
</p>

<%= link_to '<button type="button">Add children information</button>'.html_safe, 'profile/children/new' %>
