<nav>
  <div class="container">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <ul class="right hide-on-med-and-down">
        <% unless user_signed_in? %>
        <li><a href="/users/sign_in">Login</a></li>
        <li><a href="/users/sign_up">Register</a></li>
        <% else %>
        <li><a href="/users/edit"><%= current_user.email %></a></li>
        <li><a href="#">Logout</a></li>
        <% end %>
      </ul>
    </ul>
    <ul class="side-nav" id="mobile-demo" button-collapse>
      <li><%= link_to "Home",   '#' %></li>
      <li><%= link_to "Log in", '#' %></li>
    </ul>
  </div>
</nav>
</div>
</div>
